@media (max-width: 992px){
    .navbar{
        text-align: center;
    }

    .navbar-toggler{
        width: 100%;
    }
}

.navbar-nav > li{
    margin-right: 30px;
}

.active > a{
    color: white !important;
}